<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>{#{ siteName }#} - {#{ page.title }#}</title>
	<link rel="stylesheet" href="{{ asset('admin/themes/default/theme.css') }}">
	<link rel="stylesheet" href="{{ asset('admin/themes/default/main.css') }}">
    <script src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/jquery/jquery.cookie.js') }}"></script>
</head>
<body class="page">

    <div class="page__layout">

        <header class="page__header">
            <div class="user-box">
                <span class="user-box__intro">Вы</span>
                <span class="user-box__username">{{ app.user.username }}</span>
                <div class="user-box__links">
                    <a href="{{ path('admin.logout') }}" class="user-box__exit">Выйти</a>
                </div>
            </div>

            <div class="cms-logo">
                <a href="{{ path('admin.dashboard') }}" class="cms-logo__link">
                    <img src="{{ asset('admin/themes/default/img/logo.png') }}"
                        alt="{#{ cms.name }#} {#{ cms.version }#}" class="cms-logo__image">
                </a>
            </div>
            <h1 class="site-title">{#{ siteName }} &ndash; {{ page.title }#}</h1>
            <div class="cms-title">Eresus CMS {#{ cms.name }} {{ cms.version }#}</div>
        </header>

        <nav class="page__sidebar">

            <div class="box">
                <div class="box__header">Наполнение</div>
                <div class="box__content sections">
                    <ul class="sections__children">
                        {#% include 'CmsBundle:Menus:Sections.html.twig' with {'section': rootSection, 'level': 0} only %#}
                    </ul>
                </div>
            </div>

            <div class="box menu">
                {#{ controlMenu }#}
            </div>
        </nav>

        <div class="page__content">
            <noscript>
                <div class="message message_type_error">
                    В вашем браузере не работает JavaScript. Без JavaScript работа с панелью управления
                    сайтом невозможна, и может привести к потере информации!
                </div>
            </noscript>
            {#{ content }#}
        </div>
    </div>

	<script src="{{ asset('admin/themes/default/theme.js') }}"></script>
	<script src="{{ asset('bundles/eresus/admin.js') }}"></script>
	{#{ body }#}
</body>
</html>