<div class="box box_style_inline">
    <div class="box__header">Настройки модуля «{{ plugin.title }}»</div>
    <div class="box__contents">
        <form action="{{ path('admin.plugins.config', {'id': plugin.namespace}) }}" method="post"
            {{ form_enctype(form) }}>

            {% block rows %}
            {{ form_widget(form) }}
            {% endblock %}

            <div class="form__footer">
                <button type="submit" class="button button_has_icon button_icon_ok">
                    Сохранить
                </button>
                <button type="button" onclick="window.location='{{ path('admin.plugins') }}'"
                    class="button button_has_icon button_icon_cancel">
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>