<div class="box box_style_inline">
    <div class="box__header">Изменение раздела</div>
    <div class="box__contents">
        <form action="admin.php" class="form" method="post" {{ form_enctype(form) }}>
            <input type="hidden" name="mod" value="pages">
            <input type="hidden" name="id" value="{{ form.vars.value.id }}">
            {{ form_widget(form) }}
            <div>
                URL этой страницы: <a href="{{ pageURL }}">{{ pageURL }}</a>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_has_icon button_icon_ok">
                    Сохранить
                </button>
                <button type="button" class="button button_has_icon button_icon_cancel"
                        onclick="history.back();">
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>
