{% extends 'EresusCmsBundle:Settings:base.html.twig' %}

{% set pageTitle = 'Модули расширения' %}

{% block contents %}
    <h1>Управление модулями расширения</h1>

    <a href="{{ path('admin.plugins.install') }}" class="button button_has_icon button_icon_add">Установить</a>

    <table class="table-list">
        <thead class="table-list__header">
        <tr>
            <th></th>
            <th>Название</th>
            <th>Идентификатор</th>
            <th>Версия</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody class="table-list__body">
        {% for plugin in extensions %}
            <tr>
                <td class="table-list__controls">
                    {% if plugin.enabled and plugin.getConfigController.isAvailable %}
                        <a href="{{ path('admin.plugins.config', {'id': plugin.id}) }}"
                           class="icon icon_img_config" title="Настроить {{ plugin.title|escape }}">&nbsp;</a>
                    {% endif %}
                    <a href="{{ path('admin.plugins.toggle', {'id': plugin.id}) }}"
                       class="icon icon_img_{% if plugin.enabled %}on{% else %}off{% endif %}"
                       title="{% if plugin.enabled %}Отключить{% else %}Включить{% endif %} {{ plugin.title|escape }}">&nbsp;</a>
                    <a href="{{ path('admin.plugins.uninstall', {'id': plugin.id}) }}"
                       data-action="delete" class="icon icon_img_delete"
                       title="Удалить {{ plugin.title|escape }}">&nbsp;</a>
                </td>
                <td>
                    {{ plugin.title }}
                </td>
                <td>
                    {{ plugin.id }}
                </td>
                <td>
                    {{ plugin.version }}
                </td>
                <td>
                    {{ plugin.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
