<tr data-level="{{ level }}">
    <td class="table-list__controls">
        <a href="{{ path('admin.content.edit', {'id': section.id}) }}" class="icon icon_img_edit"
           title="Редактировать раздел «{{ section.caption|escape }}»">&nbsp;</a>
        <a href="{{ path('admin.content.properties', {'id': section.id}) }}"
           class="icon icon_img_config"
           title="Свойства раздела «{{ section.caption|escape }}»">&nbsp;</a>
        {% if section.id != 1 %}
            <a href="{{ path('admin.content.up', {'id': section.id}) }}" class="icon icon_img_up"
               title="Поднять «{{ section.caption|escape }}»">&nbsp;</a>
            <a href="{{ path('admin.content.down', {'id': section.id}) }}" class="icon icon_img_down"
               title="Опустить «{{ section.caption|escape }}»">&nbsp;</a>
        {% endif %}
        <a href="{{ path('admin.content.add', {'parent': section.id}) }}" class="icon icon_img_add"
           title="Добавить подраздел в «{{ section.caption|escape }}»">&nbsp;</a>
        {% if section.id != 1 %}
            <a href="{{ path('admin.content.move', {'id': section.id}) }}" class="icon icon_img_move-section"
               title="Переместить раздел «{{ section.caption|escape }}»">&nbsp;</a>
            <a href="{{ path('admin.content.delete', {'id': section.id}) }}" class="icon icon_img_delete"
               data-action="delete" title="Удалить раздел «{{ section.caption|escape }}»">&nbsp;</a>
        {% endif %}
    </td>
    <td{% if level > 0 %} style="padding-left: {{ level-1 }}em;"{% endif %}>
        {% if level > 0 %}<span class="icon icon_img_tree-line"></span>{% endif %}
        <a href="{{ path('admin.content.edit', {'id': section.id}) }}"
            title="Редактировать раздел «{{ section.caption|escape }}»">{{ section.caption }}</a>
    </td>
    <td><a title="Открыть раздел в КИ" target="_blank"
        href="{{ app.request.getBasePath }}{{ section.clientURL }}">{{ section.clientURL }}</a></td>
    <td>{% if section.contentType %}{{ section.contentType.getTitle }}{% endif %}</td>
</tr>
{% for subSection in section.children %}
    {% include 'CmsBundle:Content:IndexRow.html.twig' with {'level': level + 1, 'section': subSection} only %}
{% endfor %}
